.Header_Container {
    display: flex;
    
}

.Header_Title {
    margin-left: 200px;
    font-size: 30px;
}

.Header_Profile {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
}

.Header_InputBox {
    width: 150px;
    height: 35px;
    margin-left: 1300px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.Header_sreach:focus {
    border: none;
    outline: none;
}


.Header_sreach {
    border: none;
    padding-left: 20px;
    height: 35px;
}

::placeholder {
    padding: px;
}

hr {
    width: 1440px;
}